.site-footer {
  background-color: $blue;
  color: $white;
  text-align: center;
}

// padding variable
$padding-footer-text: 5%;

.footer-heading {
  width: 100%;
  text-align: center;
  color: $white;
  padding-top: $padding-footer-text;
  padding-bottom: $padding-footer-text;
  h3 {
    margin: 0;
  }
}

.footer-list {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
  text-align: left;
  padding-left: 0;
  li {
    a {
      color: $white;
    }
  }
}

.copyright-container {
  padding-top: $padding-footer-text;
  padding-bottom: $padding-footer-text;
}
.copyright {
  display: inline;
}
