// main div styling (blue footer box)
.site-footer {
  background-color: $blue;
  color: $white;
  text-align: center;
  width: 100%;
}

// padding variable
$padding-footer-text: 5%;

.footer-heading {
  width: 100%;
  text-align: center;
  color: $white;
  padding-top: $padding-footer-text;
  padding-bottom: $padding-footer-text;
  h3 {
    margin: 0;
  }
  @include mquery(medium) {
    text-align: left;
  }
}

// footer content styling
.footer-container {
  margin-left: $wrapper-spacing+$content-wrapper-spacing;
  margin-right: $wrapper-spacing+$content-wrapper-spacing;
}

.footer-content {
  padding: 0;
  margin: 0;
  width: 100%;
}

[class*="footer-col-"] {
  display: inline-block;
}

.footer-col-1 {
  width: 30%;
  float: left;
}
@mixin basic-footer-styling() {
  width: 14%;
  vertical-align: top;
  float: left;
}
.footer-col-2 {
  @include mquery(medium);
}
.footer-col-3 {
  @include mquery(medium);
}
.footer-col-4 {
  @include mquery(medium);
}
.footer-col-5 {
  @include mquery(medium);
}
.footer-col-6 {
  @include mquery(medium);
}

.footer-information {
  display: none;
  @include mquery(medium) {
    display: inline-block;
    text-align: left;
  }
}

.footer-list {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
  text-align: left;
  padding-left: 0;
  li {
    a {
      color: $white;
    }
  }
}

.copyright-container {
  padding-top: $padding-footer-text;
  padding-bottom: $padding-footer-text;
  @include mquery(medium) {
    text-align: left;
  }
}
.copyright {
  display: inline;
}
