$header-sm: 640px;
$header-md: 920px;
$nav-link-color: $brand-primary;
.site-header {
	@media screen and (min-width: #{$header-sm}) {}
	@media screen and (min-width: #{$header-md}) {}
	&.show-menu {}
	&.show-search {}
}


.display-gap {
	margin: 0;
	padding: 0;
	border-top: 5px solid $blue;
}

@import "header/site-navigation";
@import "header/sub-navigation";
@import "header/header-search";
@import "header/header-logo";
@import "header/burger-icon";

@import "header/nav-bar"
