// horizontal advertisement styling

.advertisement-horizontal-container {
	display: none;
	@include mquery(medium) {
    background-color: $white;
		display: block;
		width: 100%;
	}
}
.advertisement-horizontal {
	max-height: 90px;
	width: 60%;


  margin-left: 20%;
  margin-top: 2%;
  margin-right: 20%;
  margin-bottom: 2%;
}
