$banner-height-xs: 368px;
$banner-height-md: 484px;
$banner-height-xl: 640px;
.hero-banner {
	overflow: hidden;
	position: relative;
	background-color: #22435A;
	min-height: $banner-height-xs;
	@include flexbox();
	@include align-items(center);
	.row {
		@include justify-content(center);
	}
	.hero-banner__content {
		text-align: center;
	}
	@include media-breakpoint-up(md) {
		 min-height: $banner-height-md;
	}
	@include media-breakpoint-up(xl) {
		 min-height: $banner-height-xl;
	}
}
.hero-banner__content {
	color: #fff;
	@include cb-padding();
	@include media-breakpoint-up(md) {
		margin-top: -3px;
		padding-top: 0;
		padding-bottom: 0;
	}
	p {
		font-size: 2rem;
		font-weight: $lead-font-weight;
	  	line-height: 1.3;
	  	@include media-breakpoint-up(lg) {
	    	font-size: 2.4rem;
	  	}
	}
	p + .btn {
		margin-top: 3.4rem;
	}
}

// Align content
.align-content--left {
	@include justify-content(flex-start);
	.hero-banner__content {
		text-align: left;
	}
}
.align-content--right {
	@include justify-content(flex-end);
	.hero-banner__content {
		text-align: right;
	}
}
.align-content--top {
	@include align-items(flex-start);
}
.align-content--bottom {
	@include align-items(flex-end);
}