//index-card

// styling for the entire block of indexs
.tile-block { @include content-block(); }

.tile-block {
  // TODO: get correct border styling
  border-top: $border-light;
}

// styling for an individual card
.index-card {
  width: 100%;
  margin: 0;
  padding: 2%;
  padding-left: 4%;
  border-left: $border-light;
  border-right: $border-light;
  border-bottom: $border-light;
  .index-arrow {
    display: block;
  }

  .index-info {
    width: 100%;
  }

  // local styling of p tag
  p {
    color: $black-lighter;
  }
}
.info-provider {
  padding-left: 2%;
}

.column-left{
  float: left;
  width: 65%;
}
.column-right{
  float: right;
  width: 17.5%;
}
.column-centre{
  display: inline-block;
  width: 17.5%;
}

.agri-logo {
  width: 100%;
}

// making all 3 components of a single index card display inline
.index-title, .index-info, .index-arrow {
  display: inline;
}
