//tile

.clickable-content {
  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
}

// Main div

.content-block { @include content-block(); }

.initial-content-block {
  margin-top: -7%;
  z-index: 10;
  position: relative;
  @include mquery(medium) {
    margin-top: -14%;
  }
}

// reordering of item source order and display for larger screens
.news-content-block {
  @include mquery(medium) {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  /* this makes sure the items actually wrap */
  // TODO: find fix for hard coded height, and the browser not knowing it needs to wrap
  height: 600px;

    /* Safari 6.1+ */
    .headline-container   {-webkit-order: 1;}
    .featured-article     {-webkit-order: 3;}
    .articles-container   {-webkit-order: 2;}

    /* Standard syntax */
    .headline-container   {order: 1;}
    .featured-article     {order: 3;}
    .articles-container   {order: 2;}

    /* creating columns */
    .cell {
      width: 50%;
    }
    .featured-article {
      flex-basis: 100%;
    }
  }
}



// display extra articles for full size website
.extra-articles {
  display: none;
  @include mquery(medium) {
    display: block;
  }
}


// category = heading text
// classes have different colors
.category-blue { @include category($blue);}
.category-blue-dark { @include category($blue-dark);}
.category-red { @include category($red);}
.category-yellow { @include category($yellow-dark);}
.category-green { @include category($green);}

.headline-text a {
  text-decoration: none;
}

// main article with image
.featured-article {
  border-bottom: $border-light;
  .featured-article-image {
    width: 100%;
    // height: 50%;
  }
  .featured-article-text-content {
    // TODO: boilerplate with sub-article create a variable?
    // issue is may not use the same padding
    padding: 2%;
    border-left: $border-light;
    border-right: $border-light;
    @include mquery(medium) {
      /* removed this border as it doubles up now */
      border-left: none;
      padding: 6%;
    }
  }
}

// Article titles
.article-title-big {
  color: $black-lighter;
  margin: 0;
  font-family: $font-family-bitter;
  font-style: oblique;
  // TODO: does title need a hover?
  // a:hover, a:focus {
  //   text-decoration: underline !important;
  // }

}
.article-title-small {
  color: $black-lighter;
  // removed margin for these h3's not universally
  margin: 0;
  font-family: $font-family-bitter;
  a {
    text-decoration: none;
  }
}

// supporting article information. Text

// text color
.category-text-blue { @include category-text($blue);}
.category-text-blue-dark { @include category-text($blue-dark);}
.category-text-red { @include category-text($red);}
.category-text-yellow { @include category-text($yellow-dark);}
.category-text-green { @include category-text($green);}

.category-text {
  display: inline;
  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
}
.article-info {
  color: $gray-muted;
  display: inline;
}
.article-blurb {
  font-family: $font-family-bitter;
  color: $black-lighter;
  display: none;
  @include mquery(medium) {
    display: block;
  }
}

.sub-article {
  padding: 2%;
  // TODO: border needs to be adjusted. Its not a solid line in the brief
  border-left: $border-light;
  border-right: $border-light;
  border-bottom: $border-light;
}

// Mini Content Block
.most-popular-container {
  @include mquery(medium) {
    display: none;
  }
}

.opinion-container {
  @include mquery(medium) {

  }
}
