//tile

.clickable-content {
  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
}

// Main div

.content-block { @include content-block(); }

// category = heading text
// classes have different colors
.category-blue { @include category($blue);}
.category-blue-dark { @include category($blue-dark);}
.category-red { @include category($red);}
.category-yellow { @include category($yellow-dark);}
.category-green { @include category($green);}

.headline-text a {
  text-decoration: none;
}

// main article with image
.featured-article {
  border-bottom: $border-light;
  .featured-article-image {
    width: 100%
  }
  .featured-article-text-content {
    // TODO: boilerplate with sub-article create a variable?
    // issue is may not use the same padding
    padding: 2%;
    border-left: $border-light;
    border-right: $border-light;
  }
}

// Article titles
.article-title-big {
  color: $black-lighter;
  margin: 0;
  font-family: $font-family-bitter;
}
.article-title-small {
  color: $black-lighter;
  // removed margin for these h3's not universally
  margin: 0;
  font-family: $font-family-bitter;
  a {
    text-decoration: none;
  }
}

// supporting article information. Text

// text color
.category-text-blue { @include category-text($blue);}
.category-text-blue-dark { @include category-text($blue-dark);}
.category-text-red { @include category-text($red);}
.category-text-yellow { @include category-text($yellow-dark);}
.category-text-green { @include category-text($green);}

.category-text {
  display: inline;
  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
}
.article-info {
  color: $gray-muted;
  display: inline;
}

.sub-article {
  padding: 2%;
  // TODO: border needs to be adjusted. Its not a solid line in the brief
  border-left: $border-light;
  border-right: $border-light;
  border-bottom: $border-light;
}
