//tile

// where should article-border go in variables.scss?
$article-border:         1px solid black;

// should modularise this (boilerplate in index card css)
.article-block {
  background-color: white;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 5%;
}

// background-color needs to change based on tile topic
.heading-news {
  background-color: $blue;
  text-align: center;
  color: $white;
}
.main-article {
  border-bottom: $article-border;
  .category-text {
    color: $green;
    display: inline;
  }

  .article-date {
    display: inline;
  }
}
.sub-article {
  border-bottom: $article-border;
}
