// outer div that contains the nav bar (not the nav bar itself)
#nav-container {
	background: $white;
	width: 100%;
	height: $nav-bar-height;
	position: absolute;
	top: 0;
	left: 0;
	border-top: 5px solid $blue;
	border-bottom: 1px solid $border-gray;
	z-index: 100;
	@include media-breakpoint-up(md) {
		height: $nav-bar-height-medium;
	}
}

// navbar general text styling
.navbar {
	a, p {
		font-family: $basic-font;
		margin: 0;
		padding: 0;
	}
	li:hover, a:hover, p:hover, li:active, a:active {
		text-decoration: none;
		color: $blue;
		background-color: inherit;
	}
	li:visited, a:visited {
		text-decoration: none;
	}
	.dropdown-item:hover {
		background-color: inherit !important;
	}
}
.nav-column-right {
	a {
		display: block;
		padding: $text-padding-mobile-nav $text-padding-mobile-nav !important;
		position: relative;
		border-bottom: 1px solid $nav-border-bottom;
	}
}
// desktop set to none by default
.desktop {
	display: none;
	@include media-breakpoint-up(lg) {
		display: block;
	}
}
// mobile layout displays by default
.mobile {
	display: block;
	@include media-breakpoint-up(lg) {
		display: none;
	}
}

// styling mobile nav icon
#menu-icon {
	margin-top: $mobile-nav-margin;
	margin-right: $mobile-nav-margin;
	margin-bottom: $mobile-nav-margin;
	margin-left: 0;
	@include media-breakpoint-up(lg) {
		// margin: $mobile-nav-margin;
    display: none;
	}
	width: 40px;
	height: 40px;
	// placeholder menu icon
	// icon is currently black, not blue
	background: $white url(../../resources/img/menu-icon.svg) center;
	background-repeat: no-repeat;
	float: right;
	display: inline-block;

	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// main logo styling
.desktop {
	#logo{
		margin: $mobile-nav-margin;
		float: left;
		display: block;
		width: 270px;
		height: 50px;
		background: url(../../../../resources/img/logo-small.png) no-repeat center;
	}
}
.mobile {
	#logo {
		margin: $mobile-nav-margin;
		float: left;
		display: block;
		width: 215px;
		height: 40px;
		background: url(../../../../resources/img/logo-small.png) no-repeat center;
	}
}
// nav bar styling
// TODO: undo this for the dektop nav
.navbar {
  padding: 0;
}
.mobile {
	.dropdown-container {
	  display: none;
		position: absolute;
		right: 0%;
		top: 0%;
		width: 100%;
		overflow: scroll;
	}
	.dropdown-container .dropdown a {
		width: 100%;
		margin: 0;
	}
	.dropdown-container .nav-column-right ul li {
		text-align: left;
		width: 100%;
		margin: 0;
	}
	.dropdown-container .nav-column-right .nav li {
		background: $nav-lvl-1-background-color;
	}
	.dropdown-container .nav-column-right .dropdown .sub-menu {
		background-color: $nav-lvl-2-background-color;
		text-decoration: none;
		list-style: none;
		list-style-type: none;
		list-style-position: inside;
		-webkit-margin-before: 0px !important;
    -webkit-margin-after: 0px !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
    -webkit-padding-start: 0px !important;
		li {
			background-color: $nav-lvl-2-background-color;
			a {
				padding-left: $text-padding-mobile-nav;
				margin-left: $text-padding-mobile-nav;
			}
		}
		li:hover, a:hover, li:visited, a:visited {
			color: $nav-font-color;
			background-color: $nav-lvl-2-background-color;
		}
	}
}

// dropdown-container column colours
.dropdown-container {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, $grey-gradient),
    color-stop(15%, $grey-gradient),
    color-stop(15%, $nav-lvl-1-background-color),
    color-stop(100%, $nav-lvl-1-background-color)
  );
}

// nav-bar columns
.nav-column-left {
	float: left;
	width: 15%;
	margin: 0;
	border: none;
	vertical-align: top;
}
.nav-column-right {
	float: left;
	width: 85%;
	margin: 0;
	border: none;
	vertical-align: top;
}

// styling for nav column left
.nav-column-left {
	text-align: center;
	.close-label {
		padding-top: 15px;
	}
}

// styling of the magnifying glass
.nav-header-img {
	height: 25px;
	width: 25px;
}
.nav-column-right ul li {
	a, p {
		color: $nav-font-color;
		display: inline-block;
	}
	a:hover {
		text-decoration: none;
	}
	// nav item
	.nav-item {
		.nav-header {
			display: inline-block;
			vertical-align: top;
			font-family: $basic-font !important;
			float: left;
		}
		.dropdown-icon {
			display: inline-block;
			vertical-align: top;
			float: right;
			text-align: center;
			margin: 0;
			padding: 0;
			font-family: "Source Sans Pro", Arial, sans-serif !important;
		}

		.nav-header-img {
			height: 25px;
			width: 25px;
		}
		.nav-item {
			width: 100%;
		}
	}
}

// Mobile navigation toggle
.navbar {
	// hiding the checkbox
	input[type=checkbox]{
	  display: none;
	}
}
.navbar {
	input[type=checkbox]:checked ~ .dropdown-container {
    display: block;
	}
}

// toggling sub menus
#sub-menu-1 {
	input[type="checkbox"]:checked ~ .sub-menu {
  	display: block;
	}
}
#sub-menu-2 {
	input[type="checkbox"]:checked ~ .sub-menu {
  	display: block;
	}
}

// hiding the sub menus
.sub-menu {
	display: none;
}
// media queries large screen size
@include media-breakpoint-up(lg) {
  // dropdown hover works for all dropdown menus
  .dropdown a:hover ~ .sub-menu {
    display: block;
  }
  .dropdown-menu:hover {
    display: block;
  }
  .dropdown-icon {
		display: none;
	}
}
.dropdown-menu {
	margin: 0;
}

// styling of active items
.active {
	color: $blue !important;
}
.active-article {
	border-left: 4px solid $red !important;
	background-color: #f3f3f3 !important;
}

// nav bar desktop styling
@include media-breakpoint-up(lg) {
	.desktop-sub-menu {
		display: none;
	}
	.newsletter-text {
	  font-size: 1.4rem;
		font-weight: 600;
	  display: block;
		color: $black-lighter;
	  margin-bottom: $nav-newsletter-margin;
	}

	.newsletter-input {
	  border: $border-light;
	  border-radius: 5px !important;
	  display: block;
	  margin-bottom: $nav-newsletter-margin;
	}

	.button-basic-blue {
		border-radius: 0;
	  color: $white;
	  font-family: $basic-font;
	  background-color: $blue;
	}
}
