// navbar general text styling
.navbar {
	a, p {
		font-family: $basic-font;
		margin: 0;
		padding: 0;
	}
	li:hover, a:hover, p:hover, li:active, a:active {
		text-decoration: none;
		color: $blue;
		background-color: none;
	}
	li:visited, a:visited {
		text-decoration: none;
	}
	.dropdown-item:hover {
		background-color: inherit !important;
	}
}

// desktop set to none by default
.desktop {
	display: none;
	@include media-breakpoint-up(lg) {
		display: block;
	}
}
// mobile layout displays by default
.mobile {
	display: block;
	@include media-breakpoint-up(lg) {
		display: none;
	}
}

// styling mobile nav icon
#menu-icon {
	margin-top: $mobile-nav-margin;
	margin-right: $mobile-nav-margin;
	margin-bottom: $mobile-nav-margin;
	margin-left: 0;
	@include media-breakpoint-up(lg) {
		// margin: $mobile-nav-margin;
    display: none;
	}
	width: 40px;
	height: 40px;
	// placeholder menu icon
	// icon is currently black, not blue
	background: $white url(../../resources/img/menu-icon.svg) center;
	background-repeat: no-repeat;
	float: right;
	display: inline-block;

	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.desktop {
	#logo{
		margin: $mobile-nav-margin;
		float: left;
		display: block;
		background: url(../../../../resources/img/logo-small.png) no-repeat center;
		width: 270px;
		height:  50px;
	}
}
// nav bar styling
// TODO: undo this for the dektop nav
.navbar {
  padding: 0;
}
.dropdown-container {
  display: none;
	position: absolute;
	right: 0%;
	top: 0%;
	width: 100%;
	overflow: scroll;
}

// dropdown-container column colours
.dropdown-container {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, $grey-gradient),
    color-stop(15%, $grey-gradient),
    color-stop(15%, $nav-lvl-1-background-color),
    color-stop(100%, $nav-lvl-1-background-color)
  );
}

// nav-bar columns
.nav-column-left {
	float: left;
	width: 15%;
	margin: 0;
	border: none;
	vertical-align: top;
}
.nav-column-right {
	float: left;
	width: 85%;
	margin: 0;
	border: none;
	vertical-align: top;
}

// styling of the magnifying glass
.nav-header-img {
	height: 25px;
	width: 25px;
}
.nav-column-right ul li {
	a, p {
		color: $nav-font-color;
		display: inline-block;
	}
	a:hover {
		text-decoration: none;
	}
	.dropdown {
		position: relative;
	}
}
.dropdown-icon {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	// padding: $text-padding-mobile-nav;
	text-align: center;
	font-family: "Source Sans Pro", Arial, sans-serif !important;
}








// Mobile navigation toggle
.navbar {
	// hiding the checkbox
	input[type=checkbox]{
	  display: none;
	}
}
.navbar {
	input[type=checkbox]:checked ~ .dropdown-container {
    display: block;
	}
}

// toggling sub menus
#sub-menu-1 {
	input[type="checkbox"]:checked ~ .sub-menu {
  	display: block;
	}
}
#sub-menu-2 {
	input[type="checkbox"]:checked ~ .sub-menu {
  	display: block;
	}
}

// hiding the sub menus
.sub-menu {
	display: none;
}
// media queries large screen size
@include media-breakpoint-up(lg) {
  // dropdown hover works for all dropdown menus
  .dropdown a:hover ~ .sub-menu {
    display: block;
  }
  .dropdown-menu:hover {
    display: block;
  }
  .dropdown-icon {
		display: none;
	}
  .dropdown-container {

  }
}
.dropdown-menu {
	margin: 0;
}
