// sub nav styling
.sub-navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $blue;
  color: $white;
  font-family: $basic-font;
  // styling of individual list items
  li {
    font-size:
    border-top: none;
    border-bottom: none;
    border-right: 1px solid $white;
    border-left: none;
  }
  // removing border on final list item
  .final-item {
    border-right: none !important;
  }
}
