.news-archives-content {
	border-top: 3px solid $blue;
	padding: $content-padding;
	padding-bottom: 0;
	// overriding content-blocks margin so the buttons can sit against content block
	margin-bottom: 0;
}

.news-archives-header {
	.news-archives-title {
		font-weight: 800;
		color: $black-lighter;
		font-size: 2.8rem;
		padding-bottom: $content-padding;
	}
	h1 {
		margin: 0;
	}
}

.news-archive-article {
	padding-bottom:  $content-padding-mobile;
	@include media-breakpoint-up(md) {
		padding-bottom:  $content-padding;
	}
	h2 {
		font-family: $title-font;
		color: $black-lighter;
		margin: 0;
		padding-bottom: 5px;
		font-size: 2rem;
	}
	.news-archive-article-blurb {
		font-family: $title-font;
		color: $black-lighter;
		margin: 0;
		font-size: 1.4rem;
	}
	.news-archive-article-info {
		font-family: $basic-font;
		color: $gray-menu;
		margin: 0;
		font-size: 1rem;
	}
}

.news-archive-article-text {
	width: 70%;
	display: block;
	float: left;
	padding-right: $content-padding-mobile;
	@include media-breakpoint-up(md) {
		padding-right: $content-padding;
	}
}
.news-archive-img-container {
	width: 30%;
	display: block;
	float: left;
}
.news-archive-article-img {
	width: auto;
	max-width: 100%;
	max-height: auto;
}

// toggling display between nav and desktop
.sectors-container {
	display: none;
	@include media-breakpoint-up(md) {
		display: block;
	}
}

.sectors-right-nav {
	padding: $sectors-right-nav-padding;
	padding-bottom: 0;
}

// sectors list styling
.sectors-list {
	padding: 0;
	// changing font
	li, a {
		font-family: $basic-font;
		color: $black-lighter;
		vertical-align: top;
	}
	// changing font-sizes
	a {
		font-size: 1.4rem;
		padding: 0;
		display: block;
	}
	p {
		margin: 0;
		font-size: 1.2rem;
	}
	// giving list items padding
	li {
		padding: 0;
		padding-bottom: $sectors-right-nav-padding;
	}
}

// sector titles styling
.title-red {
	color: $red !important;
}
.title-yellow {
	color: $yellow-dark !important;
}
.title-green {
	color: $green !important;
}
.title-blue-dark {
	color: $blue-dark !important;
}
// generic sector title styling
.sector-title {
	font-weight: 600;
}

// archive page navigation buttons styling
.news-archive-page-nav-container {
	width: 100%;
	margin-top: 8px;
	margin-bottom: $content-block-margin;
	background-color: none;
	ul {
		width: 100%;
		list-style-type: none;
	}
	li {
		float: right;
		width: 25px;
	}
	li a {
		display: block;
	}
	.arrow-nav-btn {
		width: 25px;
		height: 25px;
	}
}
