// removes negative margin on main content block
.article-margin-override {
  margin-top: 0 !important;
}

// small text url styling
.news-article-url-container {
  width: 100%;
  .url-text {
    display: inline-block;
    margin: 0;
    font-family: $basic-font;
    font-size: $font-size-sm;
    color: $gray-menu;
  }
}
// article tags styling
.tags-container {
  .article-tags {
    color: $blue !important;
    display: inline-block;
    margin: 0;
  }
}

// article header styling
.article-headline-container {
  padding: $content-padding-mobile;
  @include media-breakpoint-up(md) {
    padding: $content-padding;
  }
}

// article title
.article-title {
  font-size: 4rem !important;
}

// author-block-container content styling
.author-info {
  display: inline-block;
  margin: 0;
}
.author-img {
  width: 40px;
  height: 40px;
  display: inline-block;
}

// social media links styling
.social-links-header {
  position: absolute;
  right: 0;
  // half of 100 - content-spacer width
  margin-right: 2.5%;
  padding-bottom: 10px;
  .social-media-icon {
    display: inline-block;
    padding: 0;
  }
}

// social media links styling
.social-links {
  float: right;
  // half of 100 - content-spacer width
  margin-right: 2.5%;
  padding-bottom: 10px;
  .social-media-icon {
    display: inline-block;
    padding: 0;
  }
}

.article-image {
  display: block;
  width: 100%;
  max-height: 300px;
}
// setting consistent padding
.article-text-content {
  padding-top: $content-padding;
  padding-left: $content-padding;
  padding-right: $content-padding;
  position: relative;
  p {
    margin: 0;
    text-align: justify;
  }
}
.article-text-block, ul {
  padding-bottom: $content-text-padding;
}

// styling text and lists
.article-text-content, ul, li {
  font-family: $title-font;
  color: $black-lighter;
  display: block;
  ul {
    list-style-type: square !important;
    list-style-position: inside !important;
    padding-left: $content-text-padding;
  }
  ul.dashed {
    list-style-type: none;
  }
  ul.dashed > li {
    text-indent: -5px;
  }
  ul.dashed > li:before {
    content: "-";
    font-family: $title-font;
    text-indent: -5px;
    // spacing between dash and list text
    padding-right: 3px;
  }
}

// advertisement inside the article text content
.article-advertisement-image {
  width: 40%;
  max-width: 300px;
  float: right;
  margin: 0;
  margin-left: $content-padding;
  margin-bottom: $content-padding;
}


// latest news container
.latest-news-container {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.content-spacer {
  color: #d6d6d6;
  padding-bottom: $content-padding;
  width: 95%;
  margin-bottom: 0;
}

.supporting-content {
  width: 100%;
  font-family: $basic-font;
  font-size: 2rem;

  // center the button
  .comments-container {
    width: 100%;
    text-align: center;
    padding-bottom: $content-padding;
    @include media-breakpoint-up(md) {
      padding-bottom: 0;
    }

    // styling of the button
    .show-comments-btn {
      border: 1px solid $blue;
      border-radius: 25px;
      background-color: $white;

      padding: 10px 80px;

      // styling the button text
      text-align: center;
      color: $blue;
      font-weight: 400;
    }
  }
  .most-read-container {
    display: none;
    @include media-breakpoint-up(md) {
      position: relative;
      padding: $content-padding;
      font-weight: 600;
      color: $black-lighter;
      .most-read-container {

      }
    }
  }
}
