body {
	background-color: $gray-lightest;
}

.no-js {
		background-color: $gray-lightest;
}

.slider-content {
	width: 100%;
	background-color: $white;
	overflow: auto;
	@include mquery(medium) {
		padding-left: 5%;
		padding-right: 5%;
		margin: 0;
		z-index: 2;
	}
}

.main-content {
	// TODO: remove if unnecessary
	// background-color: $gray-lightest;
	z-index: 3;
	margin-top: -7%;
  z-index: 10;
  position: relative;
  @include mquery(medium) {
    margin-top: -14%;
  }

	@include mquery(medium) {
		margin-left: $wrapper-spacing;
		margin-right: $wrapper-spacing;
	}
}

// styling for responsive repositioning (transition from mobile layout to desktop layout)
.col-1 {
	/* for mobile */
	width: 100%;
	@include mquery(medium) {
		/* for deskop */
		width: 73%;
		display: inline-block;
		vertical-align: top;
	}
}

.col-2 {
	/* for mobile */
	width: 100%;
	@include mquery(medium) {
		/* for desktop */
		width: 25%;
		display: inline-block;
		vertical-align: top;
	}
}


.main {
	overflow-x: hidden;
}

// Do we need a layout file ?
.container-flush {
	padding-left: 0;
	padding-right: 0;
}

.col-flush {
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	[class*="col-"] {
		padding-left: 0;
		padding-right: 0;
	}
}
///////////////////////////

@import "pagination";
@import "archive-filter";
@import "rich-text-editor";
@import "contact-item";
@import "social-block";
