.no-js {
		background-color: $gray-lightest;
}

.content {
	background-color: $gray-lightest;
}

.main {
	overflow-x: hidden;
}

// Do we need a layout file ?
.container-flush {
	padding-left: 0;
	padding-right: 0;
}

.col-flush {
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	[class*="col-"] {
		padding-left: 0;
		padding-right: 0;
	}
}
///////////////////////////

@import "pagination";
@import "archive-filter";
@import "rich-text-editor";
@import "contact-item";
@import "social-block";
