// main nav bar styling
.nav {
	margin: 0;
	padding: 0;
  width: 100%;
	border-top: 5px solid $blue;
  border-bottom: $border-light;
  background-color: $white;
  @include media-breakpoint-up(md) {
    padding: 0 $content-padding 0 $content-padding;
  }
}

.logo {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	float: left;
  @include media-breakpoint-up(md) {

  }
}

.header-logo {
  display: inline-block;
}

.nav-links {
  display: inline-block;
  // width: 100%;
  float: left;
}

.nav-main {
  display: inline-block;
  vertical-align: top;
}
// hidden in mobile version
.nav-secondary {
	display: none;
	@include media-breakpoint-up(md) {
		display: inline-block;
		vertical-align: top;
	}
}

.nav-main-list, .nav-secondary-list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
  list-style-type: none;
  overflow: hidden;
  li {
      float: left;
  }
  li a {
      display: block;
      text-decoration: none;
      font-family: $basic-font;
			font-weight: 600;
      color: $black-lighter;
      font-size: 1.5rem;
      text-align: center;
      padding-left: $nav-padding;
      padding-right: $nav-padding;
      padding-bottom: $nav-padding;
  }
	li ul {
		display: none;
	}
	/* makes dropdown links verticla */
	li ul li {
	display: block;
	// float: none;
	}
	/*Prevent text wrapping*/
	li ul li a {
		width: auto;
		min-width: 100px;
		padding: 0 20px;
	}

	/*Display the dropdown on hover*/
	ul li a:hover + .hidden, .hidden:hover {
		display: block;
	}
}









.nav-main-list {
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    border-bottom: $border-hover;
  }
}

.nav-secondary-list {
  .sectors-list {
    color: $gray-menu;
  }
}

// newsletter and search icon container
.news-search-container {
	display: none;
	@include media-breakpoint-up(md) {
		// display: inline-block;

	}
}

// search button
.search-icon {
  border-left: $border-light;
  border-right: $border-light;
  display: inline-block;
  padding-left: $nav-padding;
  padding-right: $nav-padding;
  float: left;
}
.search-image {
	width: 22px;
	height: 22px;
}
.icon-credit {
	display: none;
}

// newsletter form
.newsletter-container {
  display: inline-block;
  float: left;
  margin: 0;
}

.newsletter-text {
  font-size: 1.4rem;
	font-weight: 600;
  display: block;
	color: $black-lighter;
  margin-bottom: $nav-newsletter-margin;
}

.newsletter-input {
  border: $border-light;
  border-radius: 5px;
  display: block;
  margin-bottom: $nav-newsletter-margin;
}

.button-basic-blue {
  border: none;
  color: $white;
  font-family: $basic-font;
  background-color: $blue;
  padding: $button-padding;
  display: block;
  margin: 0;
}
