// outer div that contains the nav bar (not the nav bar itself)
#nav-container {
	background: $white;
	width: 100%;
	height: $nav-bar-height;
	position: absolute;
	top: 0;
	left: 0;
	border-top: 5px solid $blue;
	border-bottom: 1px solid $border-gray;
	z-index: 100;
	@include media-breakpoint-up(md) {
		height: $nav-bar-height-medium;
	}
}

// site logo image
#logo{
	margin: $mobile-nav-margin;
	float: left;
	width: 215px;
	height: 40px;
	background: url(../../../../resources/img/logo-small.png) no-repeat center;
	display: block;
	@include media-breakpoint-up(md) {
		background: url(../../../../resources/img/logo-small.png) no-repeat center;
		width: 270px;
		height:  50px;
	}
}


// mobile friendly menu icon
#menu-icon {
	margin-top: $mobile-nav-margin;
	margin-right: $mobile-nav-margin;
	margin-bottom: $mobile-nav-margin;
	margin-left: 0;
	@include media-breakpoint-up(md) {
		margin: $mobile-nav-margin;
	}
	width: 40px;
	height: 40px;
	// placeholder menu icon
	// TODO: icon is currently black, not blue
	background: $white url(../../../../resources/img/menu-icon.svg) center;
	background-repeat: no-repeat;
	float: right;
	display: inline-block;

	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menu {
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	a {
	  transition: all .125s ease-in-out;
	  -webkit-transition: all .125s ease-in-out;

		font-family: $font-family-open-sans;
		font-weight: 400;
	}
}

#menu {
	// hiding the checkbox
	input[type=checkbox]{
	  display: none;
	}
}

// positioning of the nav icon
nav {
	float: right;
	padding: 0%;
	// styling anchor tags
	a {
		color: $nav-font-color;
		text-decoration: none;
	}
	a:hover {
		color: $blue;
		text-decoration: none;
	}
}

// checkbox, so that mobile menu is a button as mobiles dont have cursor so no :hover
#menu {
	input[type=checkbox]:checked ~ .dropdown-container {
    display: block;
	}
}
#sub-menu-1 {
	input[type="checkbox"]:checked ~ .sub-menu {
  	display: block;
	}
}
#sub-menu-2 {
	input[type="checkbox"]:checked ~ .sub-menu {
  	display: block;
	}
}

nav {
	.dropdown-container {
		// border looks very naff
		// border-left: 1px solid $border-gray;
		// border-right: 1px solid $border-gray;
		// border-bottom: 1px solid $border-gray;
	}

	.dropdown-container {
		display: none;
		position: absolute;
		right: 0%;
		top: 0%;
		width: 100%;
		overflow: scroll;
	}

	.dropdown-container ul li {
		text-align: left;
		width: 100%;
		margin: 0;
	}
	.dropdown-container .nav-column-right .main-nav li {
		background: $nav-lvl-1-background-color;
		border-bottom: 1px solid $nav-border-bottom;
	}
}

// column styling to get equal height columns
.group { display: inline-block; }

// this trick doesnt extend the column to full height, but makes it look like it is
.dropdown-container {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, $grey-gradient),
    color-stop(15%, $grey-gradient),
    color-stop(15%, $nav-lvl-1-background-color),
    color-stop(100%, $nav-lvl-1-background-color)
  );
}

// nav-bar columns
.nav-column-left {
	float: left;
	width: 15%;
	margin: 0;
	border: none;
	vertical-align: top;
}
.nav-column-right {
	float: left;
	width: 85%;
	margin: 0;
	border: none;
	vertical-align: top;
}

.close-label {
	height: 100%;
	width: 100%;
	padding: 10%;
	text-align: centre;
	// styling the close button
	.close-button-img {
		padding: 0;
		margin: 0;
		width: 100%;
		max-width: 40px;
		max-height: 40px;
	}
}

// styling of menu-icon positioning
#menu {
	// TODO: position nav menu icon
	// padding: 10px 10px;
}

#menu {
	.sub-menu {
		display: none;
	}
	// hiding sectors li for mobile
	.sectors-li {
		display: none;
	}
}

.submenu {
	color: $nav-font-color;
}
.nav-header {
	padding: 0;
	margin: 0;
}
// styling of active items
.active {
	color: $blue !important;
}
.active-article {
	border-left: 4px solid $red !important;
	background-color: #f3f3f3 !important;
}

// TODO: Is there a jobs toggle for mobile, from what I see from the brief there isn't
// brief doesnt' have a jobs drop down for mobile
.jobs-sm {
	display: none;
	@include media-breakpoint-up(md) {
		display: block;
	}
}
.jobs-toggle {
	display: none;
	@include media-breakpoint-up(md) {
		display: inline-block;
	}
}

// nav item
.nav-item {
	.nav-header {
		display: inline-block;
		vertical-align: top;
		font-family: $basic-font !important;
	}
	.dropdown-icon {
		display: inline-block;
		position: absolute;
		top: 0;
		right: 0;
		padding: $text-padding-mobile-nav;
		text-align: center;
		font-family: "Source Sans Pro", Arial, sans-serif;
	}
	.nav-header-img {
		height: 25px;
		width: 25px;
	}
}
.nav-item:active, :focus, ul, li, a {
	color: $nav-font-color;
}

// general styling of text/li item sizes (on a tag because we have drop downs inside the li)
#menu a {
	display: block;
	padding: $text-padding-mobile-nav $text-padding-mobile-nav;
	position: relative;
	border-bottom: 1px solid $nav-border-bottom;
}

// removes border double up on sm dropdown.
// border on sm li allows 100% width border
#menu .sub-menu a {
	border-bottom: none;
}

// submenu styling
.sub-menu li {
	padding-left: $text-padding-mobile-nav;
	background-color: $nav-lvl-2-background-color !important;
}

// newsletter form
.newsletter-container {
	display: none;
}

// breakpoint for desktop styling
@include media-breakpoint-up(md) {
	// hiding and showing toggles/nav items
	#menu {
		// hide menu display button
		#menu-icon {
			display: none;
		}
		// display menu
		.dropdown-container {
			display: block;
			// hide left column
			.nav-column-left {
				display: none;
			}
		}
		// display sectors navigation
		.sectors-li {
			display: block;
		}
	}
	// hide drop down arrows
	.nav-item {
		.dropdown-icon {
			display: none;
		}
	}
	// removing column backgrounds
	.dropdown-container {
	  background-image: none;
	}

	// styling of menu items
	#menu {
		.dropdown-container {
			.nav-column-right {
				width: 100%;
				clear: both;
			}
		}
	}
	// removing background color and borders
	#menu a {
		border-bottom: none;
	}
	nav .dropdown-container .nav-column-right .main-nav li {
		background: none;
		border-bottom: none;
	}

	// adding content padding to nav bar
	#nav-container {
		padding-left: $content-padding;
		padding-right: $content-padding;
	}
	// making nav display inline
	#menu {
		// width of menu
		width: 55%;
		@media (min-width: 900px) { width: 63%}

		float: right;
		display: block;
		// overide mobiles required absolute positioning
		.dropdown-container {
			position: static;
		}
		.dropdown-container .nav-column-right .main-nav {
			display: block;
			width: 100%;
		}
	}
	.nav-column-right {
		float: right;
	}

	nav .dropdown-container .nav-column-right .main-nav li {
		float: left;
		display: block;
		position: relative;
	}

	// width of individual list items (overriding mobile width:100%)
	nav .dropdown-container .nav-column-right .main-nav li {
		width: auto;
	}

	// removing mobile specific text
	.mobile-text {
		display: none !important;
	}
	// changing nav text color to suit white background
	nav .nav-secondary-list {
		color: $gray-menu;
	}
	nav a{
		color: $black-lighter;
	}
	nav a:hover {
		color: $blue;
	}

	// removing padding on menu
	#menu {
		padding: 0;
	  // removing padding on text
		a {
			padding: 0;
		}
	}

	.main-nav li a {
		padding: 14px 16px;
	}

	// newsletter form styling
	.newsletter-container {
	  display: inline-block;
	  float: left;
	  margin: 0;
	}

		.newsletter-text {
		  font-size: 1.4rem;
			font-weight: 600;
		  display: block;
			color: $black-lighter;
		  margin-bottom: $nav-newsletter-margin;
		}

		.newsletter-input {
		  border: $border-light;
		  border-radius: 5px;
		  display: block;
		  margin-bottom: $nav-newsletter-margin;
		}

		.button-basic-blue {
		  border: none;
		  color: $white;
		  font-family: $basic-font;
		  background-color: $blue;
		  padding: $button-padding;
		  display: block;
		  margin: 0;
		}

	// removing each of the checkbox's control of dropdowns
	#menu {
		input[type=checkbox]:checked ~ .dropdown-container {
	    display: block;
		}
	}
	#sub-menu-1 {
		input[type="checkbox"]:checked ~ .sub-menu {
	  	display: block;
		}
	}
	#sub-menu-2 {
		input[type="checkbox"]:checked ~ .sub-menu {
	  	display: block;
		}
	}

	// dropdowns changed to hover state from click to display
	#sub-menu-1:hover > input[type="checkbox"] ~ .sub-menu {
    display: block;
  }
	#sub-menu-2:hover > input[type="checkbox"] ~ .sub-menu {
		display: block;
	}

	.sub-menu {
		width: 100%;
	}



}
