// Slider CSS

// TODO: remove unnecessary comments
// make was originally 10px.
// width: 100%;
// TODO: slider needs to be properly sized for different images.
// makes sure that it is fully responsive
.panel {
	position: relative;
	background: #ccc;
	margin: 0;
	width: 100%;
	font-size: 72px;
	text-align: center;
	img {
		height: 100%;
		width: 100%;
	}
	.slide-caption {
		left: 0;
		top:0;
		min-height: 80px;
		position: absolute;
		width: 100%;
		z-index: 11;
		text-align: left;
		
		// @include mquery(medium) {
		// 	text-align: left;
		// }
}

// positioning of the dots
.slider {
	z-index: 1;

	.slick-dots {
		position: absolute;
		top:3%;
		right:2%;
		bottom: auto;
		z-index: 1;
		width: auto;
		text-align: right;
		@include mquery(medium) {
			padding-bottom: 8%;
			left: 2%;
			text-align: left;
		}
	}
	}
}

// slick-theme.css

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 0;
}

.slick-dots
{
		// position originally absolute
    position: block;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: .5;
		color: $blue;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 30px;
    // line-height: 20px;

		// changed from absolute
    position: relative;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: 1;
    color: $white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: $blue;
}
